UnityProject/Alpha/Library
UnityProject/Alpha/Temp
UnityProject/Alpha/Logs
UnityProject/Kart/kart/Library
UnityProject/Kart/kart/Logs
UnityProject/Kart/kart/obj/Debug
*.csproj
UnityProject/Kart/kart/.vs
*.sln
AndroidProject/.gradle
AndroidProject/.idea
AndroidProject/launcher/build
AndroidProject/unityLibrary/build
UnityProject/Kart/kart/Temp
